.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 44%;
  background: $beige url(../img/intro/bg.jpg) no-repeat;
  background-size: auto 100%;
  background-position: bottom right 50%;
  padding-bottom: $waveHeight/2;
  box-sizing: content-box;
  position: relative;
  font-size: 3vmax;

  @media (max-width: 850px) {
    background-image: url(../img/intro/bg-medium.jpg);
    background-position: bottom right;
    background-size: auto 110%;
    position: relative;
    padding-top: 72%;
  }

  @media (max-width: 850px) and (orientation: portrait) {
    // background-size: auto 90%;
  }

  @media (max-width: 768px) and (orientation: landscape) {
    background-image: url(../img/intro/bg-medium.jpg);
    background-size: auto 110%;
    position: relative;
    padding-top: 50%;
    font-size: 4vmax;
  }

  @media (max-width: 600px) and (orientation: portrait) {
    background-image: url(../img/intro/bg-small.jpg);
    background-size: auto 65%;
    background-position: center bottom;
    align-items: flex-start;
    padding-top: 150%;
    font-size: 6vw;
  }

  @media (min-width: 1600px) {
    font-size: 3rem;
  }

  &-content {
    width: 100%;
    max-width: 75vw;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: .05em;
    position: absolute;
    top: 50%;
    left: 15%;
    width: 40%;
    transform: translateY(-50%);

    @media (min-width: 1600px) {
      width: 60rem;
    }

    @media (max-width: 600px) and (orientation: portrait) {
      width: auto;
      text-align: center;
      left: 50%;
      top: 10%;
      transform: translateX(-50%);
    }
  }

  &-title {
    color: white;
    font-weight: 900;
    position: relative;
    margin-top: 0;

    > span {
      color: rgba(white,.15);

      &:first-child {
        position: absolute;
        right: 100%;
      }
    }
  }

  &-subtitle {
    color: rgba(black,.35);
    font-weight: 900;
    margin-bottom: 0;

    span {
      display: block;
    }
  }
}

// Joke

.intro {

  &.clone {
    border-bottom: 100px solid white;
  }

  body.trollface &:before {
    content: '';
    background: url(../img/intro/trollface.gif) right bottom no-repeat;
    background-position: bottom right 20%;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -$waveHeight/2;

    @media (max-width: 850px) {
      background-image: url(../img/intro/trollface-medium.gif);
      background-size: auto 110%;
    }

    @media (max-width: 850px) and (orientation: portrait) {
      // background-size: auto 90%;
    }

    @media (max-width: 600px) and (orientation: portrait) {
      background-image: url(../img/intro/trollface-small.gif);
      background-size: auto 60%;
      background-position: center bottom;
    }
  }
}
