.timeline {
  background-color: $green;
  
  @media (min-width: 520px) {
    position: relative;

    &:before {
      content: '';
      width: 2px;
      background-color: rgba(black,.05);
      position: absolute;
      left: 5vw;
      margin-left: -1px;
      top: $waveHeight/2;
      bottom: $waveHeight/2;
      z-index: 1;
    }
  }

  @media (min-width: 768px) {

    &:before {
      top: 0;
      bottom: 0;
      left: 50%;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &-list {
    list-style: none;
    padding-left: 0;
    max-width: 70rem;
    margin: 0 auto;
    font-size: 1.25em;

    @media (max-width: 519px) {
      font-size: 1em;
    }
  }

  &-item {
    position: relative;
    margin: 10% 0;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }

    // Rounded dots

    @media (min-width: 520px) {

      &:before {
        content: '';
        width: .5em;
        height: .5em;
        border-radius: 100%;
        position: absolute;
        top: 2.2em;
        left: -5vw;
        z-index: 1;
        border: 2px solid rgba(black,.5);
        background-color: $green;
        box-shadow: 0 0 0 5px $green;
        transform: translateX(-50%);
      }
    }

    // Trick to mask overflowing top & bottom line

    @media (min-width: 520px) and (max-width: 767px) {

      &:first-child:after,
      &:last-child:after {
        content: '';
        position: absolute;
        right: 100%;
        height: 100%;
        background-color: $green;
        width: 999px;
        z-index: 1;
      }

      &:first-child:after {
        bottom: 100%;
        margin-bottom: -2em;
      }

      &:last-child:after {
        top: 3em;
      }
    }

    // Manage left/right items on wide screens
    
    @media (min-width: 768px) {
      width: 50%;
      margin: 0;
      
      &:nth-child(odd) {
        float: left;
        clear: right;
        padding-right: 5%;
        text-align: right;

        &:before { left: auto; right: 0; transform: translateX(50%); }
      }
      
      &:nth-child(even) {
        float: right;
        clear: left;
        padding-left: 5%;

        &:before { left: 0; }
      }
    }
  }

  &-date {
    display: block;
    color: rgba(black,.25);
  }

  &-title {
    display: block;
    color: rgba(black,.5);
    font-family: $headings;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .05em;
    position: relative;
  }

  &-desc {
    color: rgba(black,.6);

    > a {
      color: inherit;
      text-decoration: none;
      background-image: linear-gradient(to bottom, currentColor 50%, transparent 50%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: center 95%;
    }
  }

  // Fix overflow bug with timeline

  &-wave {
    
    @media (min-width: 520px) {
      z-index: 2;
    }
    
    @media (min-width: 768px) {
      z-index: 1;
    }
  }
}